@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;700;800&display=swap');

body {  
  margin: 0 auto;
  font-family: 'Kanit', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
}

a{
  text-decoration: none;
}
input{font-family: 'Kanit', sans-serif;}