
button{
    background: #ee4800;
    font-weight: 200;
    font-size: 8pt;
}


.barra{
    margin: 0 auto;
    background-color: #ddd7cf;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    border-bottom: 1px solid #575757;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.5s ease;
}
.logo{float: left;position: relative;padding: 0;}
.logo:hover{opacity: 0.8;}

.barra.hidden{
opacity: 0;
}