.paginado{
    display: flex;
    width: 90%;
    justify-content: center;
    height: 30px;
    z-index: 1;
    margin-bottom: 20px;
}

.paginado ul{
    padding: 0;
    margin: 10px 0;
}

.paginado li{
    list-style: none;
    float: left;
    cursor: pointer;
    z-index: 3;
    padding: 5px;
}

.paginado li a{
    padding: 5px;
    border-radius: 100%;
}

.paginado li a:hover{
    color: black;
}
